[Base]
text               = {{base05-hex}}
subtext            = {{base05-hex}}
main               = {{base00-hex}}
sidebar            = {{base00-hex}}
player             = {{base00-hex}}
card               = {{base00-hex}}
shadow             = {{base02-hex}}
button             = {{base08-hex}}
button-active      = 988BC7
button-disabled    = {{base02-hex}}
tab-active         = {{base02-hex}}
sidebar-text       = {{base04-hex}}
notification       = {{base02-hex}}
notification-error = E96379
selected-row       = {{base03-hex}}
misc               = {{base02-hex}}
